DATABASE_URL=mongodb://localhost:27017/meetmax-backend
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:12313
REDIS_HOST=redis://localhost:6379

JWT_TOKEN=
NODE_ENV=
SECRECT_KEY_ONE=
SECRECT_KEY_TWO=


CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

SENDER_EMAIL=kiel.reinger41@ethereal.email
SENDER_EMAIL_PASSWORD=SEx2twxncYq22hhMjg

SENDGRID_API_KEY=
SENDGRID_SENDER=

EC2_URL=http://169.254.169.254/latest/meta-data/instance-id